{% extends 'base.html' %}



    {% block head%}

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

    <script src="/static/sortTrips.js"></script>
    <script src="/static/carbonOverTimeChart.js"></script>
    <script src="/static/carbonSavedChart.js"></script>
    <script src="/static/datePicker.js"></script>
    <script src="/static/searchCity.js"></script>
    <script src="/static/userAsDriverTable.js"></script>
    <script src="/static/userAsPassengerTable.js"></script>
    <title>Home</title>
    {% endblock %}
