{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}
{% block content %}
  <br>
  <h3>Sorry, we didn't find any rides to {{ destination }} by {{ date_desired }}, but here are some nearby destinations: </h3><br>

    <div class="container-fluid">
      <div class="row">
    {% for trip_id, trip in drop_offs_nearby.items() %}

      <div class="card" style="width: 18rem;" align="center">
        <div class="card-body">
          <h5 class="card-title">
            <img src={{ trip.user.user_profile_img }} class="rounded-circle search-img"><br>
            {{ trip.user.fname }}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ trip.user.user_bio }}
          </h6>
          <p class="card-text">
          </p>
          
      </div>
    </div>


{% endblock %}